[submodule ".openads-dev-environment"]
	path = .openads-dev-environment
	url = https://github.com/openads-project/openads-dev-environment.git
[submodule "FocalFormer3D"]
	path = FocalFormer3D
	url = https://github.com/RaphvK/FocalFormer3D.git
[submodule "docker/docker-ros"]
	path = docker/docker-ros
	url = https://github.com/ika-rwth-aachen/docker-ros.git
